<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="img/icons8-rain-32.png">
    <link rel="stylesheet" href="css/sobre.css">
    <title>Sobre</title>
</head>

<body>
    <div class="header">
        <h1>Sobre</h1>
    </div>

    <div class="main">
        <a href="../index.php"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
        </svg>Retornar</a>
        <div class="txt">
            <p>
                &nbsp;&nbsp;A aplicação foi feita por <b>Luís Fernando Pelek</b> para uma atividade dad disciplina de Programação no
                Desenvolvimento de Sistemas, do <b>professor Tiago Matys do Colégio Estadual Antônio Xavier da Silveira</b>.
            </p>
            <p>
                &nbsp;&nbsp;A previsão do tempo é feita por meio dos dados recebidos do <b>INPE/CPTEC</b> com base na cidade e Estado do
                usuário e disponibiliza as temperaturas mínima e máxima, precipitação e índice UV dos próximos sete dias.
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="img">
            <img src="img/3DS.png">
        </div>
        <p>3º ano do Curso Técnico de Análise e Desenvolvimento de Sistemas.</p>
    </div>
</body>

</html>